<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <%= assets(:css) %>
  </head>
  <body>
    <div id='container'>
      <h2 id='name'><%= @name %></h2>
      <p id='info'>I'm a third year Computer Engineering major at the Georgia Institute
                   of technology</p>
      <div id='links'>
        <% @links.each do |name, link| %>
          <a id='link' href="<%= link %>"><%= name %></a>
        <% end %>
      </div>
    </div>
    <div id='debug'>
      <% if ENV['RACK_ENV'] == 'development' %>DEVELOPMENT<% end %>
    </div>
  </body>
</html>
