$main-font: 'Roboto Condensed', sans-serif;

$color-name: #77a5f2;
$color-secondary: #c6d7ff;
$color-links: #ACF0F2;
$color-hover: red;
$text-color: #A4D4B4;

// Media queries
$break-small: 600px;
$break-large: 1200px;


@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

@mixin backgroung-gradient($color1, $color2) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  $color1 40%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $color1 40%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $color1 40%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin name-font {
  color: $color-name;
  font-size: 6vw;
  @media only screen and (min-width: $break-small) {
    font-size: 10vw;
  }
  @media only screen and (min-width: $break-large) {
    font-size: 6vw;
  }
}

@mixin link-font {
  text-decoration: none;
  font-size: 2.4em;
  -webkit-text-stroke: 1px black;  
  @media only screen and (min-width: $break-small) {
    font-size: 4.2em;
  }
  @media only screen and (min-width: $break-large) {
    font-size: 2.4em;
  }
}

@mixin info-font {
  color: $color-secondary;
  font-size: 24px;
  @media only screen and (min-width: $break-small) {
    font-size: 2.4em;
  }
  @media only screen and (min-width: $break-large) {
    font-size: 24px;
  }
}

html {
  height: 100%;
}

body {
  // @include backgroung-gradient($color-primary, $color-secondary);
  // background-image: url("../images/bg-1-small.png");
  // background-color: #152A39;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  // overflow: hidden;
  width: 100%;
  min-height: 99vh;
  font-family: $main-font;
}

#container {
  display: flex; // set the context
  flex: 1; // flex an equal space for the entire container sire.
  align-items: flex-start;
  flex-direction: column;
}

#bg-video {
  z-index: -1;
  position: fixed;
  min-height: 100%;
  @media only screen and (min-width: $break-small) {
  }
  @media only screen and (min-width: $break-large) {
    width: 100%;
  }
}

#video-cover {
  z-index: -2;
  position: fixed; 
  top: 0;
  left: 0;
  display: gone;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

// Debug information
#debug {
  display: flex; // set the context
  flex: 1; // flex an equal amt of space yo!
  align-items: flex-end; // make that shit sit on the bottom dawg.
  justify-content: center; // center the text horizontally suckah. the poor man's text-align: center
  font-size: 20px;
  font-family: monospace;
  color: $color-secondary;
}

#name {
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 0;
  align-self: flex-start;
  @include name-font;
}

#info {
  margin-top: 8px;
  margin-left: 1%;
  text-align: left;
  align-self: flex-start;
  @include info-font;
}

.links {
  margin: 10px;
  margin-top: 20px;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

// Individual links
#link {
  color: $color-links;
  @include link-font;
}
