$color-primary: #37e2e5;
$color-secondary: #f33d9c;
$text-color: #A4D4B4;

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

@mixin backgroung-gradient($color1, $color2) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  $color1 40%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $color1 40%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $color1 40%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100%;
}

body {
  // @include backgroung-gradient($color-primary, $color-secondary);
  // background-image: url("../images/bg-1-small.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  // overflow: hidden;
  width: 100%;
  min-height: 99vh;
  font-family: 'Roboto Condensed', sans-serif;
}

#container {
  display: flex; // set the context
  flex: 1; // flex an equal space for the entire container sire.
  align-items: center; // make my junk stretch the complete height sir mixalot.
  flex-direction: column; // stuff can't be a row. gotstah be a column.
}

#bg-video {
  z-index: -1;
  position: fixed;
  min-height: 100%;
}

#video-cover {
  z-index: -2;
  position: fixed; 
  top: 0;
  left: 0;
  display: gone;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

// Debug information
#debug {
  display: flex; // set the context
  flex: 1; // flex an equal amt of space yo!
  align-items: flex-end; // make that shit sit on the bottom dawg.
  justify-content: center; // center the text horizontally suckah. the poor man's text-align: center
  font-size: 20px;
  font-family: monospace;
  color: $color-secondary;
}

#name {
  margin-top: 6%;
  margin-bottom: 0;
  color: $color-secondary;
  font-size: 48px;
}

#info {
  font-size: 18px;
  color: $color-secondary;
}

.links {
  margin: 10px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

// Individual links
#link {
  color: $color-primary;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
}
